<a href="https://colab.research.google.com/github/Fordreign/my_works/blob/main/Amiran_mailfit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
df1 = pd.read_csv('./data1.csv', index_col=False)
df2 = pd.read_csv('./data2.csv', index_col=False)

In [ ]:
df1.head()

,Тема письма,Сегмент,Дата рассылки,Время отправки,Отправлено писем,Отписки,Доставлено,Открытий,Заказы,Доход
0,Тема1,Сегмент1,04.06.2021,15:00:00,561114,440,560873,70321,75,7613776
1,Тема2,Сегмент1,07.06.2021,17:22:00,557128,476,556910,88384,209,6907996
2,Тема3,Сегмент1,11.06.2021,16:00:00,555455,504,555214,70835,70,3558583
3,Тема4,Сегмент2,14.06.2021,15:00:00,554383,509,554144,74813,75,6207904
4,Тема5,Сегмент1,18.06.2021,16:00:00,552486,435,552281,71378,52,6905844

In [ ]:
df2.head()

  Тема письма  Кликов
0       Тема1    2274
1       Тема2    4549
2       Тема3    1709
3       Тема4    2136
4       Тема5    1635

In [ ]:
df1 = df1.merge(df2)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42 entries, 0 to 41
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Тема письма       42 non-null     object
 1   Сегмент           42 non-null     object
 2   Дата рассылки     42 non-null     object
 3   Время отправки    42 non-null     object
 4   Отправлено писем  42 non-null     int64
 5   Отписки           42 non-null     int64
 6   Доставлено        42 non-null     int64
 7   Открытий          42 non-null     int64
 8   Заказы            42 non-null     int64
 9   Доход             42 non-null     int64
 10  Кликов            42 non-null     int64
dtypes: int64(7), object(4)
memory usage: 3.9+ KB

In [ ]:
df1['open_rate'] = (df1['Открытий'] / df1['Доставлено'] * 100 ).round(2)

In [ ]:
df1['CTOR'] = (df1['Кликов'] / df1['Открытий'] * 100 ).round(2)

In [ ]:
df1['CR'] = (df1['Заказы'] / df1['Открытий'] * 100 ).round(2)

In [ ]:
df1['AOV'] = (df1['Доход '] / df1['Заказы']).round(1)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42 entries, 0 to 41
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Тема письма       42 non-null     object
 1   Сегмент           42 non-null     object
 2   Дата рассылки     42 non-null     object
 3   Время отправки    42 non-null     object
 4   Отправлено писем  42 non-null     int64
 5   Отписки           42 non-null     int64
 6   Доставлено        42 non-null     int64
 7   Открытий          42 non-null     int64
 8   Заказы            42 non-null     int64
 9   Доход             42 non-null     int64
 10  Кликов            42 non-null     int64
 11  open_rate         42 non-null     float64
 12  CTOR              42 non-null     float64
 13  CR                42 non-null     float64
 14  AOV               42 non-null     float64
dtypes: float64(4), int64(7), object(4)
memory usage: 5.2+ KB

Топ лучших тем по 'Open rate'

In [ ]:
df1[['Тема письма', 'open_rate']].sort_values(by='open_rate', ascending=False).head()

   Тема письма  open_rate
40      Тема41      17.91
35      Тема36      17.11
39      Тема40      17.05
37      Тема38      16.99
41      Тема42      16.98

Лучший день недели для отправки писем

In [ ]:
from datetime import datetime

In [ ]:
df1['Дата рассылки'] = pd.to_datetime(df1['Дата рассылки'])

In [ ]:
df1['День_недели_рассылки'] = df1['Дата рассылки'].dt.day_name()

In [ ]:
'''
Возмем средний "Open rate" по дням недели.
'''
df1[['День_недели_рассылки', 'open_rate']].groupby('День_недели_рассылки').mean().sort_values(by='open_rate', ascending=False)

                      open_rate
День_недели_рассылки
Sunday                16.020000
Saturday              15.083333
Wednesday             14.930000
Friday                14.447857
Monday                14.431538
Tuesday               14.204286

Динамика оттока базы

In [ ]:
'''
В таблице нет данных о подписках. 
Сами цифры об оттоке прослеживаются, но этого не достатотчно для дальнейших манипуляций.
В своей прошлой должности я рассчитывал и предсказывал "churn_rate", LTV и др. метрики с помощью ML-алгоритмов.
'''